/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
   styling file for login page
*/

body{
    margin: 0;
    padding: 0;
    background-image: url("hupa3.jpg");
}
.text{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    font-family: Helvetica;
}

.Main{
    padding: 20px 20px 20px 20px;
    background-color: lightpink;
    border-style: groove;
    border-radius: 15px/50px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -150px 0 0 -150px;
    text-align: center;
    font-size: 50px;
    color: #fff;
    font-weight: bold;
    font-family: Helvetica;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
}
input[type=text]:focus {
    background-color: lightblue;
}
input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

input[type=submit]{
    background-image: -webkit-linear-gradient(top, #f4f1ee, #fff);
    background-image: linear-gradient(top, #f4f1ee, #fff);
    border-radius: 50%;
    box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, .3), inset 0px 4px 1px 1px white, inset 0px -3px 1px 1px rgba(204,198,197,.5);
    float:left;
    font-family: Broadway;
    height: 90px;
    margin: 0 30px 30px 0;
    position: relative;
    width: 90px;			
    -webkit-transition: all .1s linear;
    transition: all .1s linear;
}
.bnt{
   background-image: -webkit-linear-gradient(top, #f4f1ee, #fff);
    background-image: linear-gradient(top, #f4f1ee, #fff);
    border-radius: 50%;
    box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, .3), inset 0px 4px 1px 1px white, inset 0px -3px 1px 1px rgba(204,198,197,.5);
    font-family: Broadway;
    height: 90px;
    margin: 0 30px 30px 0;
    position: relative;
    width: 90px;			
    -webkit-transition: all .1s linear;
    transition: all .1s linear;
}
